<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="extnet" type="Ext.Net.GlobalConfig" requirePermission="false" />
    <section name="PhoneCallsTablesSection" type="Lync_Billing.ConfigurationSections.PhoneCallsTablesSection" />
    <section name="BillableCallTypesSection" type="Lync_Billing.ConfigurationSections.BillableCallTypesSection" />
    <section name="PDFReportColumnsDescriptionsSection" type="Lync_Billing.ConfigurationSections.PDFReportColumnsDescriptionsSection" />
    <section name="PDFReportsPropertiesSection" type="Lync_Billing.ConfigurationSections.PDFReportsPropertiesSection" />
  </configSections>

  <PhoneCallsTablesSection>
    <PhoneCallsTables>
      <add name="Lync2010" value="PhoneCalls2010" description="The phonecalls table for Microsoft Lync 2010" />
      <add name="Lync2013" value="PhoneCalls2013" description="The phonecalls table for Microsoft Lync 2013"/>
    </PhoneCallsTables>
  </PhoneCallsTablesSection>

  <BillableCallTypesSection>
    <BillableTypes>
      <add name="LOCAL" value="1"/>
      <add name="NATIONAL-FIXEDLINE" value="2"/>
      <add name="NATIONAL-MOBILE" value="3"/>
      <add name="INTERNATIONAL-FIXEDLINE" value="4"/>
      <add name="INTERNATIONAL-MOBILE" value="5"/>
      <add name="FIXEDLINE" value="21"/>
      <add name="MOBILE" value="22"/>
    </BillableTypes>
  </BillableCallTypesSection>

  <PDFReportColumnsDescriptionsSection>
    <PDFReportColumnsDescriptions>
      <add name="SessionIdTime" description="Session Time"/>
      <add name="SessionIdSeq" description="Session Seq"/>
      <add name="ResponseTime" description="Date"/>
      <add name="SessionEndTime" description="Session End Time"/>
      <add name="SourceUserUri" description="Email Address"/>
      <add name="SourceNumberUri" description="Telephone No"/>
      <add name="DestinationNumberUri" description="Destination"/>
      <add name="Duration" description="Duration"/>
      <add name="marker_CallToCountry" description="Country"/>
      <add name="marker_CallType" description="Marker Call Type"/>
      <add name="marker_CallCost" description="Cost"/>
      <add name="ui_MarkedOn" description="Marked On"/>
      <add name="ui_UpdatedByUser" description="Updated By"/>
      <add name="ui_CallType" description="Call Type"/>
      <add name="ac_DisputeStatus" description="Dispute Status"/>
      <add name="ac_DisputeResolvedOn" description="Dispute Resolved On"/>
      <add name="AD_UserID" description="Group No."/>
      <add name="AD_DisplayName" description="Name"/>
      <add name="BusinessCost" description="Busn. Cost"/>
      <add name="PersonalCost" description="Pers. Cost"/>
      <add name="UnMarkedCost" description="Unac. Cost"/>
    </PDFReportColumnsDescriptions>
  </PDFReportColumnsDescriptionsSection>

  <PDFReportsPropertiesSection>
    <PDFReportsProperties>
      <add reportName="UserPhoneCalls" columnsNames="ResponseTime,marker_CallToCountry,DestinationNumberUri,Duration,marker_CallCost,ui_CallType" columnsWidths="6,3,5,3,3,3" />
      <add reportName="AccountingSummary" columnsNames="AD_UserID,SourceUserUri,AD_DisplayName,BusinessCost,PersonalCost,UnMarkedCost" columnsWidths="4,6,7,4,4,4" />
      <add reportName="AccountingDetailed" columnsNames="ResponseTime,marker_CallToCountry,DestinationNumberUri,Duration,marker_CallCost,ui_CallType" columnsWidths="7,4,6,4,3,4 " />
    </PDFReportsProperties>
  </PDFReportsPropertiesSection>

  <!--<configSections>
    <sectionGroup name="WebServicesSectionGroup">
      <section name="webServices" type="Microsoft.Web.Configuration.WebServicesSection" requirePermission="false"/>
    </sectionGroup>
  </configSections>-->
  
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" />
    <httpHandlers>
      <remove path="*.asmx" verb="*" />
      <add path="*.asmx" verb="*" type="Microsoft.Web.Services.ScriptHandlerFactory" validate="false" />
      <add path="*/ext.axd" verb="*" type="Ext.Net.ResourceHandler" validate="false" />
    </httpHandlers>
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
    <httpModules>
      <add name="DirectRequestModule" type="Ext.Net.DirectRequestModule, Ext.Net" />
    </httpModules>
    <pages>
      <controls>
        <add assembly="Ext.Net" namespace="Ext.Net" tagPrefix="ext" />
      </controls>
    </pages>
    <sessionState timeout="60" />
  </system.web>
  <connectionStrings>
    <add name="LyncConnectionString" connectionString="Provider=SQLOLEDB.1;Data Source=10.1.60.55;Persist Security Info=True;Password='=25_ar;p1100';User ID=sa;Initial Catalog=tBill" />
  </connectionStrings>
  <appSettings>
    <add key="LocalDomainURI" value="GC://10.1.0.230" />
    <add key="LocalDomainUser" value="RND-Bind" />
    <add key="LocalDomainPassword" value="RNDbind12" />
    <add key="ResourceDomainURI" value="GC://10.1.0.224" />
    <add key="ResourceDomainUser" value="LyncBilling" />
    <add key="ResourceDomainPassword" value="Saddam123!" />
    <add key="ADSearchFilter" value="(&amp;(objectClass=user)(objectCategory=person)(mail={0}))" />
    <add key="MailHost" value="10.1.1.128" />
    <add key="ReplyTo" value="helpdesk@ccc.gr" />
  </appSettings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <add name="DirectRequestModule" preCondition="managedHandler" type="Ext.Net.DirectRequestModule, Ext.Net" />
    </modules>
    <handlers>
      <add name="DirectRequestHandler" verb="*" path="*/ext.axd" preCondition="integratedMode" type="Ext.Net.ResourceHandler" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
  </system.webServer>
  <extnet licenseKey="ODUwMzA3OTksMiw5OTk5LTEyLTMx" theme="Gray" />
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.6.0" newVersion="4.1.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>