div#container {
	width: 960px;
	margin: 0 auto;
}

div#navbar {
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	width: 100%;
	min-height: 40px;
	max-height: 40px;
	background: linear-gradient(to bottom, #505050 0%, #000000 100%) repeat scroll 0 0 transparent;
    filter: none;
    font-size: 14px;
    color: #FFFFFF;
}

div#main {
	width: auto;
	display: block;
	border: solid 1px;
	margin-top: 42px;
}

div#footer {
	width: auto;
	display: block;
	height: 24px;
}