/*#################################VERTICAL DROPDOWN MEN STRATURE###########################*/
/* Vertical Navigation */
.vertical-navigation {list-style: none;margin: 0;padding: 0;font-size: 1.2em;position: relative}
/* CSS for each Parent Item */
.vertical-navigation li {float: right; position: relative;}
.vertical-navigation li a{float: left; display: block; padding: 5px 5px 5px 15px; text-decoration: none; color: #666;}
/* 
Change background color and font color 
of parent items when mouse hover 
*/
.vertical-navigation li:hover a,
.vertical-navigation li a:hover { background: #3B8686; color: #fff; }
.vertical-navigation li.selected {background: #999; color: #fff;}
/* 
Apply to group of Child Items
Each Child Item will be invisible by default
*/
.vertical-navigation ul {display: none;}
/* Each Child Item will be visible if mouse hover */
.vertical-navigation li:hover ul {display: block;}
.vertical-navigation ul{float: none;position: absolute;list-style: none;margin: 0;padding: 0;top:28px;top:26px\9;*top:26px;right: 0;/*ltr*/	left:0;/*already worked in ltr but keep this for ltr*/ }
.vertical-navigation ul li{float: none;clear: none;margin: 0;padding: 0;width: auto;color: #999;}
/* 
Reset and re style 
link of each child item
*/
.vertical-navigation li:hover ul li a,
.vertical-navigation ul li a{display: block;padding: 0 6px 0 6px; float: none; color: #999; background: none;}
.vertical-navigation li:hover ul li a:hover,
.vertical-navigation ul li a:hover{background: none;color: #000;}
.vertical-navigation li ul {background:none; width:200px; }
/*#################################END VERTICAL DROPDOWN MENU STRATURE###########################*/

/*#################################VERTICAL DROPDOWN MENU DEFAULT SKIN###########################*/
.toolbar { height: 40px; overflow: visible; }
.toolbar .vertical-navigation{ position:relative; z-index:3; }
/*.tool-dark-bg { background:url(../images/tool-bg_20x40.png) repeat-x; }*/
.tool-dark-bg { background: #3D81A1; }
.toolbar  .vertical-navigation li { font-family:etisalat ,Arial, Helvetica, sans-serif; font-size:13px ;  border-right: 1px solid #535252;  line-height: 40px; }/*rtl margin*/
.toolbar  .vertical-navigation li:last-child { border-left: 1px solid #535252;  }/*rtl margin*/
.toolbar  .vertical-navigation li a { color:#fff;text-shadow: 2px 2px 3px rgba(195, 195, 195, .30);padding:0 10px }
.toolbar  .vertical-navigation li .drop { background:url(../images/drop-arrow.png) no-repeat; display:inline-block; vertical-align:middle; width:12px; height:8px; margin:0 5px 0 0 }
.toolbar  .vertical-navigation li .settings { background:url(../images/settings.png) no-repeat; background-size:contain; display:inline-block; vertical-align:middle; width:30px; height:40px; margin:0 5px 0 0 }
.toolbar  .vertical-navigation li .shutdown { background:url(../images/shutdown.png) no-repeat; background-size:contain; display:inline-block; vertical-align:middle; width:26px; height:30px; margin:0 5px 0 0 }
.toolbar  .vertical-navigation li ul {
    z-index: 1000;
    position: absolute;
    top: 40px;
    width: 180px;
    background: #fff !important; /*background:#252424;*/
    color: #0B486B !important;
    -webkit-box-shadow: #3B8686 1px 2px 6px; /* #666 */
    -moz-box-shadow: #3B8686 1px 2px 6px; /* #666 */
    box-shadow: #3B8686 1px 2px 6px; /* #666 */
    border: 1px #B6C0D2 solid;
    border-top: 3px #0A5A80 solid;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.toolbar .vertical-navigation li ul#user-dropdown { width: 160px !important; }
.toolbar .vertical-navigation li ul#accounting-dropdown { width: 180px !important; }
.toolbar .vertical-navigation li ul#roles-dropdown { width: 160px !important; }
.toolbar .vertical-navigation li ul#delegees-dropdown { width: 200px !important; }
.toolbar .vertical-navigation li ul li.separator-bottom { border-bottom: 1px solid #B6C0D2 !important; }

.toolbar .vertical-navigation li:hover a,
.toolbar .vertical-navigation li a:hover {color: #fff; }

.vertical-navigation li:hover a,
.vertical-navigation li a:hover { background: #0A5A80 /*#0B486B*/; color: #fff; }
.vertical-navigation li.selected {background: #224252; color: #000000 !important; }

/* default value of links colors in the sub menu */
.toolbar .vertical-navigation li:hover ul li { border-right: none;}
.toolbar .vertical-navigation li:hover ul li a, .toolbar .vertical-navigation ul li a { color: #000; }

.toolbar .vertical-navigation ul li { height: 32px; /*border-bottom: 1px solid #B6C0D2;*/ }
.toolbar .vertical-navigation ul li a { height: 32px; line-height: 30px; float: left; text-align: left; display: inline; overflow: hidden; }
.toolbar .vertical-navigation li:hover ul li a:hover, 
.toolbar .vertical-navigation ul li a:hover,
.toolbar .vertical-navigation ul li:hover a { background-color: #939393; color: #fff; font-weight: bold; /*border-top: 1px solid #B6C0D2; border-bottom: 1px solid #B6C0D2;*/}

.toolbar .vertical-navigation ul li.first-child{margin-top:3px !important; }
.toolbar .vertical-navigation ul li.last-child{border:none; margin-bottom:3px !important; }

.toolbar  .left0{left:0%}
/*#################################END VERTICAL DROPDOWN MENU DEFAULT SKIN ###########################*/
.logo{display:block; color: #FFFFFF;font-size: 22px;font-weight: bold;line-height: 32px;text-decoration: none;text-shadow: 0 2px 4px #000000; margin-top: 2px; }
.logo:hover{text-decoration:none}

/*from(#3B8686), to(#0B486B));*/
/*from(#3B8686), to(#0B486B));*/