<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
    <configSections>
      <section name="BillableCallTypesSection" type="Lync_Backend.Helpers.BillableCallTypesSection, Lync-Backend" requirePermission="false" />
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

    <BillableCallTypesSection>
     <BillableTypes>
       <add name="LOCAL" value="1"/>
       <add name="NATIONAL-FIXEDLINE" value="2"/>
       <add name="NATIONAL-MOBILE" value="3"/>
       <add name="INTERNATIONAL-FIXEDLINE" value="4"/>
       <add name="INTERNATIONAL-MOBILE" value="5"/>
       <add name="FIXEDLINE" value="21"/>
       <add name="MOBILE" value="22"/>
     </BillableTypes>
    </BillableCallTypesSection>
    
    <appSettings>
      <add key="LocalDomainURI" value="GC://x.x.x.x" />
      <add key="LocalDomainUser" value="username" />
      <add key="LocalDomainPassword" value="password" />
      <add key="ResourceDomainURI" value="GC://x.x.x.x" />
      <add key="ResourceDomainUser" value="username1" />
      <add key="ResourceDomainPassword" value="password1" />
      <add key="ADSearchFilter" value="(&amp;(objectClass=user)(objectCategory=person)(mail={0}))" />
      <add key="MailHost" value="x.x.x.x" />
      <add key="ReplyTo" value="contact@example.com" />
    </appSettings>
    
    <connectionStrings>
      <add name="LyncConnectionString" connectionString="Provider=SQLOLEDB.1;Data Source=x.x.x.x;Persist Security Info=True;Password='password';User ID=username;Initial Catalog=tBill" />
    </connectionStrings>

</configuration>